body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 0px;
}
.image-text {
    font-size: small;
}
#author {
    color: rgb(248, 144, 58);
}
.wrapper {
    display: grid;
    /* grid-template-columns: */
    /* grid-template-columns: minmax(0vw, 20vw) auto 10vw minmax(10vw, 20vw); */
    grid-template-columns: minmax(10vw, 20vw) auto 10vw minmax(10vw, 20vw);
    grid-auto-rows: auto;
    /* background-color: rgb(233, 231, 229); */
    background-color: rgb(252, 246, 246);
}

.ad-box {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    background-color: rgb(252, 246, 246);
}
.logo-box{
    /* padding-top: 100px; */
    margin-top: 5vh;
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: rgb(252, 246, 246);
    background-image: url("../images/arsTechnica.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.header-box {
    grid-column: 2 / 3; /* Dette betyr visst start at line 2 end at line 4 */
    grid-row: 2;
    background-color: rgb(252, 246, 246);
    padding-bottom: 25px;
    padding-left: 50px;
}
.image-box {
    grid-column: 2 / 3;
    grid-row: 3;
    background-image: url("../images/accessibility-image.jpeg");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-color: rgb(249, 236, 236);
}
.image-box-text {
    max-width: 100%;
  }

.text-box {
    grid-column: 2 / 3;
    grid-row: 4;
    background-color: rgb(252, 246, 246);
    padding-left: 10vw;
    padding-right: 5vw;
}

.secondary-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 14px;
}

/* NAVBAR ------ */
.topnav-box {
    /* margin-top: 50px; */
    grid-column: 1 / 5;
    position: sticky;
    top: 20px;
    grid-row: 1;
    /* text-align: right; */
    background-color: rgb(252, 246, 246);
    /* background-color: rgb(83, 14, 14); */
    /* display: flex;
    flex-direction: column; */
    display: flex;
    justify-content: center;
  align-items: center;
}

.topnav-box ul {
    /* visibility: collapse; */
    /* display: block; */
    /* align-self: flex-end; */
    list-style-type: none;
    margin: 0;
    overflow: hidden;

    
}
.topnav-box li {
    /* float: left; */
    display: inline-block;
    
    /* padding-top: 100px; */
}
.topnav-box a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.topnav-box li a:hover {
    background-color: rgb(255, 205, 0);
    /* color: white; */
}

#collapse:checked ~ ul{
    /* background-color: brown; */
    /* visibility: visible; */
    display: block;
    align-self: center;
    justify-content: center;
}

#expand-btn {
    display: none;
    /* float: right; */
    /* align-self:flex-end;
    justify-self: flex-end; */
    padding-right: 5px;
    /* top: 200px; */
    /* padding-bottom: 100px; */
  }


@media (max-width: 1000px) { 
    .wrapper {grid-template-columns: 1fr}
    #expand-btn{
        display: block;
    }
    ul {
        display: none;
    }
    .topnav-box li {
        display: block;
    }
    .topnav-box {
        flex-direction: column;
    }
  }
/* NAVBAR ------ */


