body, html {
height: 100%;
/* Set margin to 0 so that it fills entire page */
margin: 0;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 27px;
line-height: 1.7;
margin-bottom: 14px;
}
.background-image-index, .background-image-accessibility, .background-image-extra {
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-index {
  /* The image used */
  background-image: url("../images/oslomet-simple.jpg");
}
.background-image-accessibility {
  /* The image used */
  background-image: url("../images/accessibility-image.jpeg");
}

.background-image-extra {
  /* The image used */
  background-image: url("../images/oslomet-image-covered.jpg");
}



.caption {
  position: absolute;
  right: 25%;
  /* left: 0; */
  top: 45%;
  width: 100%;
  text-align: center;
  /* color: #000; */
}

.caption span.border {
  background-color: #111;
  /* background-color: rgb(255, 205, 0); */
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font: 400 25px/1.8 "Lato", sans-serif;
}




.flex-stack {
  display: flex;
  flex-direction: column;
}

.container-flex {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.left-flex {
  /* padding: 10px; */
  flex: 50%;
  text-align: center;
  align-self: center;
  padding: 50px;
}

.right-flex {
  /* padding: 10px; */
  flex: 50%;
  text-align: center;
  align-self: center;
}

.image-flex-box {
  /* object-fit: cover; */
  max-width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1000px) {
  .container-flex {
    flex-direction: column;
  }
}

.image-text {
  font-size: small;
}


.short-paragraph{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.7;
  margin-bottom: 14px;
}

.long-paragraph{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 14px;
}

.navbar{
  position: absolute;
}

.unordered-list {
  visibility: collapse;
  list-style-type: none;
}

.navbar-item{
  /* visibility: collapse; */
  display: block;
  background-color: #f1f1f1;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.navbar-item:hover {
background-color: #555;
}

.navbar-item:hover a {
  color: white;
}

.navbar-item a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}

#collapse:checked ~ .unordered-list{
  visibility: visible;
}


#expand-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 12px;
  padding: 5px 11px;
  background-color: #ff7;
  border: 1px solid;
  border-radius: 3px;
}
