body, html {
    height: 100%;
    /* Set margin to 0 so that it fills entire page */
    margin: 0;
  }
  
  .background-image-index {
    /* The image used */
    background-image: url("../images/oslomet-simple.jpg");
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-image-accessibility {
    /* The image used */
    background-image: url("../images/accessibility-image.jpeg");
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .navbar{
    /* overflow: hidden; */
    /* background-color: #333; */
    position: absolute;
    /* left: 0; */
    /* left: 0; */
    /* top: 20%; */
    /* width: 100%; */
    /* text-align: center; */
}

  .caption {
    position: absolute;
    right: 25%;
    /* left: 0; */
    top: 45%;
    width: 100%;
    text-align: center;
    /* color: #000; */
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font: 400 25px/1.8 "Lato", sans-serif;
  }

  .wrapper {
    display: grid;
    /* grid-template-columns: */
    /* grid-template-columns: minmax(0vw, 20vw) auto 10vw minmax(10vw, 20vw); */
    grid-template-columns: minmax(10vw, 20vw) auto 10vw minmax(10vw, 20vw);
    grid-auto-rows: minmax(50px, auto);
    /* background-color: rgb(130, 128, 124); */
    background-color: rgb(130, 128, 124);
}

.ad-box {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-color: rgb(249, 236, 236);
    /* background-color: blue; */
}

/* .topnav-box {
    grid-column: 3 / 4;
    grid-row: 2;
    background-color: rgb(249, 236, 236);
} */
.header-box {
    grid-column: 2 / 3; /* Dette betyr visst start at line 2 end at line 4 */
    grid-row: 2;
    background-color: rgb(249, 236, 236);
    padding-bottom: 25px;
    padding-left: 50px;
}
.image-box {
    grid-column: 2 / 3;
    grid-row: 3;
    background-image: url("../images/oslomet-sign.jpg");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-color: rgb(249, 236, 236);
}
.image-text {
    font-size: small;
}
.text-box {
    grid-column: 2 / 3;
    grid-row: 4;
    background-color: rgb(249, 236, 236);
    padding-left: 200px;
}

.secondary-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 14px;
}

.navbar-item{
    visibility: collapse;
}

#collapse:checked ~ li{
    visibility: visible;
}

#expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
  }
  