body, html {
    height: 100%;
    /* Set margin to 0 so that it fills entire page */
    margin: 0;
  }
  
  .background-image-index {
    /* The image used */
    background-image: url("../images/oslomet-simple.jpg");
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-image-accessibility {
    /* The image used */
    background-image: url("../images/accessibility-image.jpeg");
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .navbar{
    /* overflow: hidden; */
    /* background-color: #333; */
    position: absolute;
    /* left: 0; */
    /* left: 0; */
    /* top: 20%; */
    /* width: 100%; */
    /* text-align: center; */
}

  .caption {
    position: absolute;
    right: 25%;
    /* left: 0; */
    top: 45%;
    width: 100%;
    text-align: center;
    /* color: #000; */
  }

  .caption span.border {
    background-color: #111;
    /* background-color: rgb(255, 205, 0); */
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font: 400 25px/1.8 "Lato", sans-serif;
  }




.flex-stack {
  display: flex;
  flex-direction: column;
}

.container-flex {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.left-flex {
  /* padding: 10px; */
  flex: 50%;
  text-align: center;
  align-self: center;
  padding: 50px;
}

.right-flex {
  /* padding: 10px; */
  flex: 50%;
  text-align: center;
  align-self: center;
  /* background-image: url("../images/oslomet-sign.jpg"); */
  /* background-size: contain; No */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* min-height: 60vh; */
  /* background-color: rgb(19, 161, 150); */
}

.image-flex-box {
  /* object-fit: cover; */
  max-width: 100%;
  height: 900px;

}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1000px) {
  .container-flex {
    flex-direction: column;
  }
}

.secondary-paragraph{
  font-size: 35px;
}

.heading{
  font-size: 55px;
}

.Heading-Kantine{

font-size: 55px;

}
.unordered-list {
  list-style-type: none;
}

.navbar-item{
    visibility: collapse;
    display: block;
    background-color: #f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.navbar-item:hover {
  background-color: #555;
}

.navbar-item:hover a {
    color: white;
}

.navbar-item a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#collapse:checked ~ li{
    visibility: visible;
}

/* #collapse:checked{
  background-color: aqua;
  visibility: visible;
} */


#expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
  }
  