

*{
    margin: 0;
    padding: 0;
    font: inherit;
    color: black;
    box-sizing: border-box;
}

body{
  background-color: white;
}

html:focus-within{
    scroll-behavior: smooth;
}

  /* Navbar  */
.header a,
.header button{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 620;
}

.header{
    /*background-color: rgba(182, 211, 224, 0.5);*/
    background-color:#f5f5f5;
    /*overflow: auto; */ 
    padding: 40px 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
}

.logo{
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 640;
    padding: 15px;
}

.navlinks a{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    font-size: 14px;
}

.navlinks a:hover{
    transition: all 0.3s ease 0s;
    color: #1a60bc;
}

button{
    font-weight: 700;
    font-size: 14px;  
    padding: 9px 25px;
    background-color:  #7695be;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(144, 163, 199);
}


/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .header {
      flex-direction: column;
      text-align: center;
  }

  .navlinks {
      margin-top: 0; /* Remove margin for spacing */
  }

  .navlinks a {
      padding: 10px;
  }
}

 /* heroImage */
.heroImage {
    padding: 50px;
    margin: 20px;
    text-align: center;
    background: #1a60bc;
    color: white;
  }

  .heroImage h1,
  .heroImage p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .heroImage h1,
  .heroImage p {
    font-size: 16px;
    font-weight: 660;
  }

  .heroImage p{
    font-size: 12px;
    font-weight: 620;
  }


  /*gridBoxes*/
  .grid-container{
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
    'first three three three'
    'first three three three'
    'second fourth fourth fourth'
    'second fourth fourth fourth';
    margin: 20px ;
  }

.grid-box{
    /*background-color: rgb(168, 168, 209);*/
    background-color:#f5f5f5;
    padding: 30px;
    line-height: 1.6;
}

.grid-box h1{
  font-size: 18px;
  font-weight: 660;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-box p {
  font-size: 15px;
}

  .grid-boxFirst{
    grid-area: first; /*Defining the grid-area*/
  }

  .grid-boxSecond{
   grid-area: second;
  }

  .grid-boxThird{
   grid-area: three;
   
  }

  .grid-boxFourth{
    grid-area: fourth;
   
   }

 

  
    /*HeroImagex*/
   .custom-image{
    width: 100%; /* Set the width to 100% of the container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the container */
   }

   .hero-image {
    width: 100%; /* Make the image take up 100% of the container width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    max-height:700px ; /* Set a maximum height for the image container */
    object-fit: cover; /* Ensure the image covers the container */
    position: relative; /* Establish a positioning context for the overlay */
}

.hero-overlay {
    position: absolute; /* Position the overlay relative to the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-overlay h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #f4f4f4;
}

.hero-overlay p {
    font-size: 1.5em;
    margin: 0;
    color: #f4f4f4;

}



.news-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f4f4f4;
}

.news-box {
  width: 300px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(53.7, 81.2, 94.1, 0.7);
  margin-bottom: 20px;
}

.news-box h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.news-box p {
  font-size: 0.9em;
  color: #555;
}

  /* Morten */

.flex-stack {
  display: flex;
  flex-direction: column;
}

.container-flex {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.left-flex {
  /* padding: 10px; */
  flex: 50%;
  text-align: center;
  align-self: center;
  padding: 50px;
}

.right-flex {
  /* padding: 10px; */
  flex: 50%;
  text-align: center;
  align-self: center;
  /* background-image: url("../images/oslomet-sign.jpg"); */
  /* background-size: contain; No */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* min-height: 60vh; */
  /* background-color: rgb(19, 161, 150); */
}

.image-flex-box {
  /* object-fit: cover; */
  max-width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1000px) {
  .container-flex {
    flex-direction: column;
  }
}

.image-text {
    font-size: small;
}